{% extends "goods.html" %} {% block menu %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('goods') }}">Назад к списку товаров</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('goods_item', goods_id=goods_item.id) }}">Назад к
        странице товара</a>
</li>{% endblock %} {% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="text-center p-2">{{ goods_item.title }}</h1>
    </div>

    <form action="{{ url_for('get_price', goods_id=goods_item.id) }}" method="post"
        class="d-flex justify-content-center">
        <h2 class="text-center p-2">История изменения цены</h2>
        <input type="submit" class="btn btn-outline-primary" value="Проверить текущую цену в магазине">
    </form>

    <div class="row">
        <canvas class="" id="price_chart"></canvas>
    </div>

    <div class="d-flex justify-content-center">
        <table id="data" class="table table-sm table-striped table-bordered w-50">
            <thead>
                <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-3">Дата и время проверки</th>
                    <th scope="col-2">Цена</th>
                </tr>
            </thead>
            <tbody>
                {% for num, price in prices_enum %}
                <tr>
                    <th scope="row">{{ num + 1 }}</th>
                    <td>{{ price.check_date.strftime('%d-%m-%Y %H:%M') }}</td>
                    <td>{{ price.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src=" {{ url_for('static', filename='Chart.min.js') }} "></script>
<script>
    var ctx = document.getElementById('price_chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for label in labels %}
                "{{ label }}",
                {% endfor %}
            ],
    datasets: [{
        data: [
            {% for data_price in data %}
            {{ data_price }},
    {% endfor %}
    ],
        lineTension: 0,
            backgroundColor: 'transparent',
                borderColor: '#007bff',
                    borderWidth: 4,
                        pointBackgroundColor: '#007bff'
            }]
        },
    options: {
        aspectRatio: 4,
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        },
        plugins: {
            legend: {
                display: false
            }
        },
        tooltip: {
            enabled: false
        }
    }
    });
</script>
{% endblock %}